body{
 background-color:  #23272f;
 color:cornflowerblue;
}



/* .App {
  text-align: center;
} */

/* API data */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
  color:white;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.logo{
  color:#dddddd;
  font-size: 40px;
  font-weight: 900;
}

.world{
  color:greenyellow;
}


.navbar{
  border-radius: 10px;
    margin-inline: 75px;
    margin-top: 8px;
    height: 66px;
}

.nav-link{
  color:white !important;
}


/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.pages{
  padding-left: 150px;
}

