.upload-button-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    font-family: 'Orbitron', sans-serif;
}
.upload-label-holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0.5rem;
    cursor: pointer;

}

.upload-img-holder{
    width: 400%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    font-family: 'Orbitron', sans-serif;
    margin-top: 0.5rem;
}


.new-img-upload{
    display: flex;
    flex-wrap: wrap;
}

.input-bundle{
    padding-left: 10%;
    padding-right: 10%;
}

.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 1rem; */
}

.image-holder{
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direct-image-holder{
    width: 390px;
    height: 219px;
}
.caption-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.1) !important; */
    margin-top: 1rem;
}
.caption-style{
    font-family: 'Orbitron', sans-serif;
}

input[type="file"] {
    display: none !important;
}

.img-holder-smri{
    display: none;
}